.fade-in-up {
  transition: transform 0.6s ease-out opacity 0.6s ease-out;
  opacity: 0.1;
  transform: translateY(20px);
}

.fade-in-down {
  transition: transform 0.6s ease-out opacity 0.6s ease-out;
  opacity: 0.1;
  transform: translateY(-20px);
}

.fade-in-up.visible,
.fade-in-down.visible {
  opacity: 1;
  transform: translateY(0);
}
